/** DARK THEME ========================= **/
.theme-dark{
    color: #fff !important;
}

.theme-dark.bg-primary, .theme-dark .bg-primary{
    background-color: #141415 !important;
}

.theme-dark.bg-secondary, .theme-dark .bg-secondary{
    background-color: #191a1a !important;
}

.theme-dark.bg-tertiary, .theme-dark .bg-tertiary{
    background-color: #1e1e21 !important;
}

.theme-dark .form-control{
    color: #c5c4c4;
}

/** LIGHT THEME ========================= **/
.theme-light{
    color: #141415 !important;
}

.theme-light.bg-primary, .theme-light .bg-primary{
    background-color: #fff !important;
}

.theme-light.bg-secondary, .theme-light .bg-secondary{
    background-color: #f7f9ff !important;
}

.p-6{
    padding:3.5rem !important;
}

/** COMMON STYLES ========================= **/
body{
    min-height:100vh;
}

img{
    object-fit: contain;
}

.bg-standard{
    background-color: #b3a374 !important;
    color: #232017 !important;
}

.text-primary{
    color: #6c7175 !important;
}

.text-secondary{
    color: #b3a374 !important;
}

.text-tertiary{
    color: #caccce !important;
}

.text-standard{
    color: #b3a374 !important;
}

.fw-600{
    font-weight:600 !important;
}

.mh-100vh{
    height: 100vh !important;
}

.mt-5per{
    margin-top: 5%;
}


/** OTHER STYLES ========================= **/
.form-control, .form-control:active, .form-control:focus, .form-control:focus-visible{
    border:none !important;
    box-shadow: none;
    border-radius:5px;
    padding: 8px 5px;
    background: rgba(255,255,255,0.05);
}

.form-group{
    position: relative;
    margin-top: 10px;
}

.form-group .form-control{
    padding-left: 40px;
}

.form-group .form-icon{
    position: absolute;
    top:5px;
    left:12px;
}

.form-group .form-icon img{
    height:20px;
}

.credits{
    position:fixed;
    width:100%;
    text-align:center;
    bottom: 100px;
    left:0;
    color: #373738;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    overflow-y:auto;
    width:250px;
}

.sb-link{
    padding:15px 15px;
    border-radius:5px;
    cursor:pointer;
    color: #6c7175;
}

.sb-link .icon-fa{
    font-size:20px;
    margin-right:8px;
    font-weight:250 !important;
    display:inline-block;
    width:25px;
}

.sb-link:hover, .sb-link.active{
    color: #b3a374;
    background: #292824;
}

.sb-link span{
    margin-top:-2px;
    display:inline-block;
    font-weight:400;
}

.alert-cont{
    background: rgba(238, 89, 89, 0.05);
    color: #ee5959;
    border-radius:5px;
    margin:0 0 10px 10px;
    display:inline-block;
}

@media (min-width: 992px)
{
    .main-body
    {
        padding-left: 250px;
    }
}

.tab-link{
    cursor:pointer;
    display:inline-block;
}

.tab-link.active{
    border-bottom:1px solid #caccce;
}

.rounded{
    border-radius: 8px;
}

.table-stats td{
    color: #969798 !important;
    border-bottom:1px solid #252525;
    padding: 15px 5px;
    width: 50%;
    min-width:50%;
}

