<template>

    <div class="row m-0">
         <div class="col-lg-6 pe-lg-2">
                                <div class="bg-secondary rounded p-lg-4 p-2 my-3 table-stats">
                                    <h6>Network Info</h6>

                                    <table class="table table-hover">

                                        <tr>
                                            <td>Notification 01 </td>
                                            <td>{{ info1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Device IP</td>
                                            <td>192.168.1.100</td>
                                        </tr>
                                        <tr>
                                            <td>Device Gateway</td>
                                            <td>192.168.1.1</td>
                                        </tr>
                                        <tr>
                                            <td>Device Subnet Mask</td>
                                            <td>255.255.255.0</td>
                                        </tr>
                                        <tr>
                                            <td>Serial Communication Mode</td>
                                            <td>RS232</td>
                                        </tr>
                                        <tr>
                                            <td>Device Subnet Mask</td>
                                            <td>255.255.255.0</td>
                                        </tr>
                                    </table>
                                </div>






                                <div class="bg-secondary rounded p-lg-4 p-2 my-3 table-stats">
                                    <h6>Alarms</h6>

                                    <table class="table table-hover">
                                        <tr>
                                            <td>LO Status</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><i class="far fa-arrow-turn-down-right"></i> RF MCU</td>
                                            <td><i class="fas text-danger fa-circle me-2"></i> Unlock</td>
                                        </tr>
                                        <tr>
                                            <td><i class="far fa-arrow-turn-down-right"></i> RF MCU</td>
                                            <td><i class="fas text-danger fa-circle me-2"></i> Unlock</td>
                                        </tr>
                                        <tr>
                                            <td>RX Input low status</td>
                                            <td><i class="fas text-success fa-circle me-2"></i> Ok</td>
                                        </tr>
                                        <tr>
                                            <td>RX Input overdrive status</td>
                                            <td><i class="fas text-success fa-circle me-2"></i> Ok</td>
                                        </tr>
                                        <tr>
                                            <td>TX on/off status</td>
                                            <td><i class="fas text-success fa-circle me-2"></i> Ok</td>
                                        </tr>
                                        <tr>
                                            <td>Temperature status</td>
                                            <td><i class="fas text-success fa-circle me-2"></i> Ok</td>
                                        </tr>
                                        <tr>
                                            <td>Volage Alarm</td>
                                            <td><i class="fas text-success fa-circle me-2"></i> Ok</td>
                                        </tr>
                                    </table>
                                </div>




                            </div>




                            <div class="col-lg-6 ps-lg-2">
                                <div class="bg-secondary rounded p-lg-4 p-2 my-3 table-stats">
                                    <h6>Device Info</h6>

                                    <table class="table table-hover">
                                        <tr>
                                            <td>Part Number</td>
                                            <td>3A11112</td>
                                        </tr>
                                        <tr>
                                            <td>Serial Number</td>
                                            <td>51513205615610</td>
                                        </tr>
                                        <tr>
                                            <td>Device ID</td>
                                            <td>3A11112</td>
                                        </tr>
                                        <tr>
                                            <td>Device IP</td>
                                            <td>192.168.1.100</td>
                                        </tr>
                                        <tr>
                                            <td>Device Gateway</td>
                                            <td>192.168.1.1</td>
                                        </tr>
                                        <tr>
                                            <td>Device Subnet Mask</td>
                                            <td>255.255.255.0</td>
                                        </tr>
                                        <tr>
                                            <td>Serial Communication Mode</td>
                                            <td>RS232</td>
                                        </tr>
                                        <tr>
                                            <td>Device Subnet Mask</td>
                                            <td>255.255.255.0</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="bg-secondary rounded p-lg-4 p-2 my-3 table-stats">
                                    <h6>Power Supply Status</h6>

                                    <table class="table table-hover">
                                        <tr>
                                            <td>BUC Supply</td>
                                            <td>Off</td>
                                        </tr>
                                        <tr>
                                            <td>LNB Supply</td>
                                            <td>On</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
</template>

<script>
import axios from "axios";

export default {
    

    data() {
        return {
            info1: ""
        }
    },
    created() {
        let apiURL = 'http://localhost:3000/api/getmsg';
        axios.get(apiURL).then(res => {
            console.log("noti", res.data.notification1.msg);
            console.log("data", res);
            this.info1 = res.data.notification1.msg
        }).catch(error => {
            console.log(error)
        })
    }

}
</script>