<template>
  <div>

    <body class="theme-dark bg-primary">
      <div class="container pt-5">
        <div class="row justify-content-center">
          <div class="col-10 col-md-8 col-lg-6 col-xxl-4 bg-secondary shadow-sm p-md-5 p-sm-4 px-2 py-4 mt-5per">
            <div class="row p-md-4 p-sm-3 px-2 py-3">
              <div class="d-flex justify-content-center">
                <img alt="logo" src="../assets/img/logo.png">
                <h4 class="text-standard ms-2 mt-3">Modem Manager</h4>
              </div>

              <form action="" class="mt-5">
                <div class="form-group">
                  <span class="form-icon">

                    <img alt="logo" src="../assets/img/uname.svg">
                  </span>
                  <input type="text" class="form-control" v-model="email" placeholder="email">
                </div>

                <div class="form-group">
                  <span class="form-icon">

                    <img alt="logo" src="../assets/img/pword.svg">
                  </span>
                  <input type="password" class="form-control" v-model="password" placeholder="password">
                </div>


                <button type="button" @click.prevent="sendPost()"
                  class="btn bg-standard form-control mt-4 fw-600">Login</button>

              </form>
            </div>
          </div>
        </div>

        <div class="credits">
          2022 Digital14. All rights reserved.
        </div>
      </div>
      <router-view />
    </body>
  </div>

</template>


<script>
import axios from 'axios';


export default {
  name: "LoginVue",
  ///////////////// ///////////////////////
  data: function () {
    return {
      email: "",
      password: "",
      msg: "hello"
    };
  },
  //////////////////// ///////////////////
  methods: {
    sendPost() {

      const postData = { email: this.email, password: this.password };
      axios.post('http://localhost:3000/api/login', postData)
        .then(function (response) {
          // handle success
          //console.log(response.data.token);
          // console.log("userData",response.data.data);
          // console.log("email",response.data.data[0].email);
          localStorage.setItem("username",response.data.data[0].username)
          localStorage.setItem("email",response.data.data[0].email)
          localStorage.setItem("token",response.data.token)
          //alert("login ok")

          window.location.href = "main"


        })
        .catch(function (error) {
          // handle errorx
          // console.log("error->",error.response);
          // console.log("msg",error.response.data.msg);
          alert("Login faild")


        })
        .then(function () {
          // always executed
        });


    }
  }
};


</script>





