<template>

    <body class="theme-dark bg-primary">
        <div class="container-full">
            <!-- SIDEBAR ============================================ -->
            <div class="sidebar bg-secondary d-lg-block d-none">
                <div class="p-3">
                    <div class="sb-link active mt-5">
                        <i class="far fa-layer-group icon-fa"></i>
                        <span>Status</span>
                    </div>
                    <div class="sb-link mt-2">
                        <i class="far fa-cog icon-fa"></i>
                        <span>Configurations</span>
                    </div>
                    <div class="sb-link mt-2">
                        <i class="far fa-users icon-fa"></i>
                        <span>Manage Users</span>
                    </div>
                    <div class="sb-link mt-2 mb-5">
                        <i class="far fa-bolt icon-fa"></i>
                        <span>Software Upgrade</span>
                    </div>
                </div>

                <div class="position-absolute bottom-0 w-100 p-3">
                    <div class="sb-link mt-5">
                        <i class="far fa-user icon-fa"></i>
                        <span>Preferences</span>
                    </div>
                    <div class="sb-link mt-2">
                        <i class="far fa-info icon-fa"></i>
                        <span>Help Guide</span>
                    </div>
                </div>
            </div>
            <!-- End of SIDEBAR ============================================ -->

            <!-- MAIN BODY ================================================= -->
            <div class="main-body">

                <div class="row m-0">

                    <div class="col-12 upper-body px-lg-5 px-3">
                        <h2 class="d-flex py-lg-5 py-3 text-tertiary"><img src="assets/img/router.svg" alt=""
                                class="me-2" /> 3A11112 || {{email}}</h2>

                        <p class="text-primary pb-2 text-lg-start text-center">Critical Alarms</p>
                        <div class="text-lg-start text-center">
                            <span class="alert-cont p-xl-3 px-2 py-1">
                                LO-AFE744 <i class="fas mx-2 fa-circle"></i> Unlock
                            </span>
                            <span class="alert-cont p-xl-3 px-2 py-1">
                                LO-RF Board <i class="fas mx-2 fa-circle"></i> Unlock
                            </span>
                            <span class="alert-cont p-xl-3 px-2 py-1">
                                Voltage Alarm <i class="fas mx-2 fa-circle"></i> ON
                            </span>
                            <span class="alert-cont p-xl-3 px-2 py-1">
                                No GPS <i class="fas mx-2 fa-circle"></i> Unlock
                            </span>
                        </div>

                        <!-- TABS-->
                        <div class="tabs mt-5">
                            <a href="/overview">
                                <div class="px-3 py-2 tab-link text-teritiary active">Overview</div>
                            </a>
                            <div class="px-3 py-2 tab-link text-teritiary active">Overview</div>
                            <div class="px-3 py-2 tab-link text-primary">Modulator-Demodulator</div>
                            <div class="px-3 py-2 tab-link text-primary">NXP</div>
                            <div class="px-3 py-2 tab-link text-primary">ZynQ</div>
                            <div class="px-3 py-2 tab-link text-primary">Kintex</div>
                            <div class="px-3 py-2 tab-link text-primary">DSP</div>
                            <div class="px-3 py-2 tab-link text-primary">AFE7444</div>
                            <div class="px-3 py-2 tab-link text-primary">Spartan</div>
                            <div class="px-3 py-2 tab-link text-primary">STM32</div>
                            <div class="px-3 py-2 tab-link text-primary">RF</div>


                        </div>
                    </div>

        

                    
                    <div class="col-12 lower-body bg-tertiary p-xxl-5 p-xl-3 p-2">
                        <OverViewVue />
                        <ModulatorVue />
                    </div>





                </div>
            </div>
        </div>
    </body>
</template>

<script>

import OverViewVue from "@/components/main/OverView.vue";
import ModulatorVue from "@/components/main/Modulator.vue";
export default {
    name: 'OverView',
    components: {
        OverViewVue,
        ModulatorVue
    },
    data:function (){
        return {
            email:''
        }
    },
    created(){
         var email = localStorage.getItem('email');
         //console.log(token);
        this.email = email
    }
}
</script>
