<template>
    <div>
        test
        <hr>
        <h1> Count :{{ count }} </h1>
        <button @click="increment"> Click</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            count: 0
        }
    },
    methods: {
        increment() {
            this.count++
        }
    },
   
}
</script>

<style scoped>
</style>